<!doctype html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ movie.moviename }}</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">
    <link rel="stylesheet" type="text/css" href="/static/style/movie.css?v=1.0.0">
</head>
<body>
    <div class="top-bar">
        <a href="javascript:history.back()" class="back-link">← Back</a>
    </div>

    <!-- Шапка с иконкой пользователя -->
    <div class="user-info-wrapper">
        <span class="user-fullname">
            {% if user %}
                {{ user.username }}
            {% endif %}
        </span>
        <a href="/auth/profile" class="user-icon" title="Profile">
            <i class="fas fa-user"></i>
        </a>
    </div>

    <main class="movie-container">
        <!-- Левая колонка: постер -->
        <div class="movie-poster">
            <img src="/static/images/{{ movie.moviephoto }}.webp" alt="Poster">
        </div>

        <!-- Правая колонка: информация -->
        <div class="movie-details">
            <h1 class="movie-title">{{ movie.moviename }}</h1>
            <p><strong>Duration:</strong> {{ movie.durationtime }}</p>
            <p><strong>Release year:</strong> {{ movie.releaseyear }}</p>
            <p><strong>Age rate:</strong> {{ movie.agerate }}</p>
        </div>
    </main>

    <!-- Сеансы -->
    <section class="sessions-section">
        <h2>Sessions</h2>
        {% for date, sessions in cinema_sessions_by_date.items() %}
        <div class="session-date-row">
            <h3>{{ date }}</h3>
            <div class="session-cards">
              {% for cinema_session in sessions %}
                <div class="session-card">
                    <p><strong>Time:</strong> {{ cinema_session.sessiontime }}</p>
                    <p><strong>Hall:</strong> {{ cinema_session.hall.hallname }}</p>
                    <p><strong>Price:</strong> {{ cinema_session.ticketfee }} {{ cinema_session.currencycode }}</p>
                    <a href="/cinema_sessions/booking/{{ cinema_session.sessionid }}"
                        class="buy-btn">
                            Book a ticket
                    </a>
                </div>
              {% endfor %}
            </div>
        </div>
        {% else %}
        <p>No available sessions.</p>
        {% endfor %}
    </section>
</body>
</html>
