alembic~=1.15.2
sqlalchemy~=2.0.40
pydantic~=2.11.1
pydantic-settings~=2.9.1
asyncpg==0.29.0
bcrypt==4.0.1
fastapi~=0.115.12
DateTime~=5.5
passlib~=1.7.4
python-jose~=1.0.0
uvicorn~=0.34.0
psycopg2~=2.9.10
python-multipart
