<!doctype html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cast member update</title>
    <link rel="stylesheet" type="text/css" href="/static/style/entity_creation.css">
</head>
<body>
<div class="container">
    <h1>Update</h1>
    <form id="entity-form" class="entity-form">
        <label for="memberid">Cast member id:</label>
        <input type="text" id="memberid" name="memberid" required>

        <label for="membername">Full name:</label>
        <input type="text" id="membername" name="membername" required>

        <label for="dateofbirth">Date of birth:</label>
        <input type="text" id="dateofbirth" name="dateofbirth" required>

        <label for="countrycode">Country code:</label>
        <input type="text" id="countrycode" name="countrycode" required>

        <label for="professionid">Profession id:</label>
        <input type="text" id="professionid" name="professionid" required>

        <button type="button" id="reg-button" class="submit-button" onclick="updateFunction(event)">Update</button>    </form>
</div>

<!-- Подключаем внешний JavaScript-файл -->
<script>
    const ENTITY = "cast_members";
</script>
<script src="/static/js/create_update_script.js"></script>
</body>
</html>