<!doctype html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cinema poster</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">
    <link rel="stylesheet" type="text/css" href="/static/style/styles.css?v=1.0.3">
</head>
<body>
<div class="user-info-wrapper">
    {% if user %}
        <span class="user-fullname">{{ user.username }} </span>
    {% endif %}
    <a href="/auth/profile" class="user-icon" title="Profile">
        <i class="fas fa-user"></i>
    </a>
</div>
    <h1>At the box office today:</h1>
    <div class="movie-grid">
        {% for movie in movies %}
        <div class="movie-card">
            <img src="/static/images/{{ movie.moviephoto }}.webp" alt="Poster">
            <div class="details">
                <h2>{{ movie.moviename }}</h2>
                <p>Duration: {{ movie.durationtime }}</p>
                <p>Release year: {{ movie.releaseyear }}</p>
                <p>Age rate: {{ movie.agerate }}</p>
                <a href="/movies/all/{{movie.movieid}}">Watch sessions</a>
            </div>
        </div>
        {% endfor %}
    </div>
</body>
</html>
