<!doctype html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Аутентификация</title>
    <link rel="stylesheet" type="text/css" href="/static/style/registration.css">
</head>
<body>
<div class="container">
    <h1>Вход</h1>
    <form id="login-form" class="registration-form">
        <label for="userlogin">Login:</label>
        <input type="text" id="userlogin" name="userlogin" required>
        <label for="userpassword">Пароль:</label>
        <input type="password" id="userpassword" name="userpassword" required>
        <button type="submit" id="login-button" class="submit-button" onclick="loginFunction(event)">Войти</button>
    </form>
</div>

<script src="/static/js/script.js"></script>
</body>
</html>