<!doctype html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>User information</title>
    <link rel="stylesheet" type="text/css" href="/static/style/user.css?v=123">
</head>
<body>

    <!-- Кнопка "Назад" -->
    <div class="top-bar">
        <a href="javascript:history.back()" class="back-link">← Back</a>
    </div>

    <!-- Блок информации о пользователе -->
    <section class="user-info-section">
        <div class="user-container">
            <!-- Левая колонка: фото -->
            <div class="user-photo">
                <img src="/static/images/{{ user.userphoto }}.webp" alt="Photo">
            </div>
            <!-- Правая колонка: информация -->
            <div class="user-details">
                <h1 class="user-title">{{ user.username }} {{ user.usersurname }}</h1>
                <p><strong>Login:</strong> {{ user.userlogin }}</p>
                <p><strong>Email:</strong> {{ user.useremail }}</p>
                <p><strong>Registered:</strong> {{ user.created_at }}</p>
                <a href="#" id="logout-button" class="logout-btn" onclick="logoutFunction(event)">Log out</a>
            </div>

        </div>
    </section>

    <!-- Блок забронированных мест -->
    <section class="sessions-section">
    <h2>Booked tickets</h2>

    {% if user.seat_statuses %}
        <div class="bookings-grid">
            {% for seat in user.seat_statuses %}
                <div class="booking-card">
                    <div class="booking-info">
                        <p><strong>Movie:</strong> {{ seat.cinema_session.movie.moviename }}</p>
                        <p><strong>Hall:</strong> {{ seat.cinema_session.hall.hallname }}</p>
                        <p><strong>Date:</strong> {{ seat.cinema_session.sessiondate }} {{ seat.cinema_session.sessiontime }}</p>
                        <p><strong>Seat:</strong> Row {{ seat.rownumber }}, Seat {{ seat.seatnumber }}</p>
                    </div>

                    <button class="cancel-btn" onclick="cancelBooking({{seat.cinema_session.sessionid | int}}, {{seat.rownumber | int}}, {{seat.seatnumber | int}})">
                        Cancel
                    </button>
                </div>
            {% endfor %}
        </div>
    {% else %}
        <p>You have not booked any tickets yet.</p>
    {% endif %}
</section>

<script src="/static/js/booking.js"></script>
</body>
</html>
