<!doctype html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Информация о пользователе</title>
    <link rel="stylesheet" type="text/css" href="/static/style/user.css">
</head>
<body>

    <!-- Кнопка "Назад" -->
    <div class="top-bar">
        <a href="javascript:history.back()" class="back-link">← Назад</a>
    </div>

    <!-- Блок информации о пользователе -->
    <section class="user-info-section">
        <div class="user-container">
            <!-- Левая колонка: фото -->
            <div class="user-photo">
                <img src="/static/images/{{ user.userphoto }}.webp" alt="Photo">
            </div>
            <!-- Правая колонка: информация -->
            <div class="user-details">
                <h1 class="user-title">{{ user.username }} {{ user.usersurname }}</h1>
                <p><strong>Login:</strong> {{ user.userlogin }}</p>
                <p><strong>Email:</strong> {{ user.useremail }}</p>
                <p><strong>Registered:</strong> {{ user.created_at }}</p>
                <a href="#" id="logout-button" class="logout-btn" onclick="logoutFunction(event)">Log out</a>
            </div>

        </div>
    </section>

    <!-- Блок забронированных мест -->
    <section class="sessions-section">
        <h2>Забронированные места</h2>

        {% if user.seat_statuses %}
            <ul class="sessions-list">
                {% for seat in user.seat_statuses %}
                    <li>
                        Session id: {{ seat.cinema_session.sessionid }}
                        movie: {{ seat.cinema_session.movie.moviename }}
                    </li>
                {% endfor %}
            </ul>
        {% else %}
            <p>У пользователя нет данных о местах.</p>
        {% endif %}
    </section>

<script src="/static/js/script.js"></script>
</body>
</html>
