<!doctype html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Registration</title>
    <link rel="stylesheet" type="text/css" href="/static/style/registration.css">
</head>
<body>
<div class="container">
    <h1>Registration</h1>
    <form id="registration-form" class="registration-form">
        <label for="userlogin">Login:</label>
        <input type="login" id="userlogin" name="userlogin" required>

        <label for="userpassword">Password:</label>
        <input type="password" id="userpassword" name="userpassword" required>

        <label for="username">First and last names:</label>
        <input type="text" id="username" name="username" required>

        <label for="useremail">E-mail:</label>
        <input type="text" id="useremail" name="useremail" required>

        <button type="button" id="reg-button" class="submit-button" onclick="regFunction(event)">Sign in</button>    </form>
</div>

<!-- Подключаем внешний JavaScript-файл -->
<script src="/static/js/script.js"></script>
</body>
</html>