<!doctype html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Все пользователи</title>
    <link rel="stylesheet" type="text/css" href="/static/style/styles.css">
</head>
<body>
    <h1>Список пользователей</h1>
    <div>
        {% for user in users %}
        <div class="user-card">
            <img src="/static/images/1.webp" alt="Фото пользователя">
            <div class="details">
                <h2>ID: {{ user.userid }}</h2>
                <p>Полное имя: {{ user.username }} {{ user.usersurname }}</p>
                <!-- Добавьте другие атрибуты по вашему усмотрению -->
            </div>
            <a href="/pages/users/{{ user.userlogin }}">Смотреть всю информацию</a>
        </div>
        {% endfor %}
    </div>
</body>
</html>