<!doctype html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Hall update</title>
    <link rel="stylesheet" type="text/css" href="/static/style/entity_creation.css">
</head>
<body>
<div class="container">
    <h1>Update</h1>
    <form id="entity-form" class="entity-form">
        <label for="hallid">Hall id:</label>
        <input type="text" id="hallid" name="hallid" required>

        <label for="hallname">Name:</label>
        <input type="text" id="hallname" name="hallname" required>

        <label for="seatamount">Amount of seats in a single row:</label>
        <input type="text" id="seatamount" name="seatamount" required>

        <label for="rowamount">Amount of rows:</label>
        <input type="text" id="rowamount" name="rowamount" required>

        <button type="button" id="reg-button" class="submit-button" onclick="updateFunction(event)">Update</button>    </form>
</div>

<!-- Подключаем внешний JavaScript-файл -->
<script>
    const ENTITY = "halls";
</script>
<script src="/static/js/create_update_script.js"></script>
</body>
</html>