<!doctype html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>User creation</title>
    <link rel="stylesheet" type="text/css" href="/static/style/entity_creation.css">
</head>
<body>
<div class="container">
    <h1>Creation</h1>
    <form id="entity-form" class="entity-form">
        <label for="userlogin">Login:</label>
        <input type="text" id="userlogin" name="userlogin" required>

        <label for="userpassword">Password:</label>
        <input type="text" id="userpassword" name="userpassword" required>

        <label for="username">Name:</label>
        <input type="text" id="username" name="username" required>

        <label for="useremail">Email:</label>
        <input type="text" id="useremail" name="useremail" required>

        <button type="button" id="reg-button" class="submit-button" onclick="createFunction(event)">Create</button>    </form>
</div>

<!-- Подключаем внешний JavaScript-файл -->
<script>
    const ENTITY = "users";
</script>
<script src="/static/js/create_update_script.js?v=123"></script>
</body>
</html>